<section class="fantasy_area thank-you">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="thank-you-icon-back text-center">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                       </svg>
                </div>
                <div class="thank-you-text text-center">
                    <h2>Thank You !</h2>
                    <p>Thank you for buying Avision-Live-Classes.Hope it will help you in your preparetion.</p>
                    <a class="btn btn-primary text-center" [routerLink]="['/liveclass-dashboard/'+urlEncryptId+'/preview']">Click to refresh the page</a>

                </div>
            </div>
        </div>
    </div>
</section>